In [6]:
!pip install yfinance
# !pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.66-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.6 MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.4 yfinance-0.1.66

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import warnings
warnings.filterwarnings("ignore")

import yfinance as yf

### It takes the following parameters as input:

* **period**: data period to download (either use period parameter or use start and end) Valid periods are:

* “1d”, “5d”, “1mo”, “3mo”, “6mo”, “1y”, “2y”, “5y”, “10y”, “ytd”, “max”

* **interval**: data interval (1m data is only for available for last 7 days, and data interval <1d for the last 60 days) Valid intervals are:

* “1m”, “2m”, “5m”, “15m”, “30m”, “60m”, “90m”, “1h”, “1d”, “5d”, “1wk”, “1mo”, “3mo”

* **start**: If not using period – in the format (yyyy-mm-dd) or datetime.

* **end**: If not using period – in the format (yyyy-mm-dd) or datetime.

* **prepost**: Include Pre and Post regular market data in results? (Default is False)- no need usually to change this from False

* auto_**adjust**: Adjust all OHLC (Open/High/Low/Close prices) automatically? (Default is True)- just leave this always as true and don’t worry about it

* **actions**: Download stock dividends and stock splits events? (Default is True)


### But saw that yfinance allows 1m data only for last 7 days and 60minutes data only for last 730 days.

## Code to fetch Bitcoin Historic Prices from Oct-2015 to Oct-2021 using [Historic Crypto](https://pypi.org/project/Historic-Crypto/) package

In [12]:
# Setting Granularity at 86400 (which is the number of seconds in a day) for Daily price 
# stock_historicals = HistoricalData('TSLA',86400,'2021-11-10-00-00', '2021-11-14-00-00').retrieve_data()

tsla= yf.Ticker("TSLA")

stock_historicals = tsla.history(start="2020-06-02", end="2020-06-07", interval="1d")

In [13]:
stock_historicals.head()

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-06-02  178.940002  181.731995  ...          0             0
2020-06-03  177.623993  179.587997  ...          0             0
2020-06-04  177.975998  179.149994  ...          0             0
2020-06-05  175.567993  177.304001  ...          0             0

[4 rows x 7 columns]

In [15]:
stock_historicals.tail()

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-06-02  178.940002  181.731995  ...          0             0
2020-06-03  177.623993  179.587997  ...          0             0
2020-06-04  177.975998  179.149994  ...          0             0
2020-06-05  175.567993  177.304001  ...          0             0

[4 rows x 7 columns]

In [16]:
stock_historicals.shape

(4, 7)

In [17]:
stock_historicals.to_csv('/content/drive/MyDrive/Datasets_For_Working/TSLA_Historic_Daily_OHLC_Prices/TSLA_Downloaded_15_Nov_2021.csv')